*{
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

h1  {
  background-color: lightgray;
  text-align: center;
}

.container {
  background-color: skyblue;
  padding: 20px;
}

.box {
  /* border: 2px solid black; */
  /* padding: 20px; */
  position: relative;
  float: left;
  width: 20%;
  padding-bottom: 30%;
  margin: 1.66%;
  background-color: #1E1E1E;

}
.img-container {
  width: 50%;
  height: 50%;
  background-color: #666633;
}

.img-container img {
  width: 50%;
  height: 50%;
}
