*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  width: 100%;
  height: auto;
}

.img-container {
  float: left;
  height: 100%;
  width: 20%;
  background: #ccc;
  padding: 20px;
}

.img-container img {
  height: 300px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.order {
  width: 80%;
  display: block;
  padding: 3px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  color: white;
  background-color: #333333;
}

.description {
  float: left;
  padding: 20px;
  width: 80%;
  height:100%;
  background-color: #f1f1f1;
}

.book-title {
  padding: 5px;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
  text-align: left;
}

.book-writer {
  padding: 5px;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
  text-align: left;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}
