*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

header {
  padding: 50px;
  text-align: center;
  background-color: #1abc9c;
  color: white;
}

header p {
  padding: 10px;
}

.container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  background-color: lightgray;
  margin: 5px;
  text-align: center;
  width: 30%;
  }

.box h2 {
  padding: 5px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.img-container {
  height: 300px;
  margin: 2px;
  padding: 2px;
}

img {
  height: 100%;
  padding-bottom: 5px;
}
