*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}
/* All background-colors are there for me to see the area the div actualy takes */
.row {
  background-color: red;
}

.img-column,
.synopsis-column {
  float: left;
  padding: 15px;
  margin: 10px;
}

.img-column {
  width: 20%;

}


/* synopsis-column , center in row div*/
.synopsis-column {
  width: 70%;
  height: 100%;
  background-color: blue;

}
/* do i even need a img-container? */
.img-container {
  float: left;
  width: 30%;
  height: 100%;
  text-align: center;
  background-color: green;

}

/* img center in img-column */
.img-container img {
  width: 200px;
  height: 300px;

}

.author-name {
  font-size: 20px;
  margin: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}
